<div class="modal" ng-controller="buy">
    <ion-header-bar class="bar bar-positive">
        <button class="button button-clear" ng-click="back()">取消</button>
        <h1 class="title">充值</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-divider"> 
                当前账户余额：10朵玫瑰
            </div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-33">
                <button class="button button-block button-positive" ng-click="check()">充值</button>
            </div>
        </div>
    </ion-content>
</div>

