<div class="modal" ng-controller="buy">
    <ion-header-bar class="bar bar-positive">
        <button class="button button-clear" ng-click="back()">取消</button>
        <h1 class="title">充值</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list card buy">
            <div class="item item-divider"> 
                当前账户余额：10朵玫瑰
            </div>
            <label class="item item-input item-stacked-label buy-input">
                <span class="input-label"> 购买金额</span>
                <input type="text" placeholder="请输入您充值金额">
            </label>
            <div class="item item-text-wrap">
                充值说明:1元兑换1只玫瑰
            </div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-33">
                <button class="button button-block button-positive" ng-click="check()">充值</button>
            </div>
        </div>
    </ion-content>
</div>

