<ion-view title="购买">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios7-arrow-back" ng-click="back()">返回</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="buyinfo">
            <p class="title">尊敬的脸呼用户：</p>
            <p class="buyCon">您好！</p>  
            <p class="buyCon">1元人民币可以购买1朵玫瑰，请您根据需要购买的数量直接向我们的支付宝账号 <strong>1478773015@qq.com</strong> 转账，并请在转账备注中注明您的脸呼注册邮箱和需要购买的玫瑰数量。我们的支付系统正在建设中，敬请期待 ... ...</p>
            <p class="buyCon">我们的客服QQ号<strong>1478773015</strong>将竭诚为您提供服务。如有问题，请您随时联系我们，祝您视频聊天愉快！</p>
        </div>
    </ion-content>
</ion-view>
