<ion-view title="购买">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios7-arrow-back" ng-click="back()">返回</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="buyinfo">
            <p class="buyCon">尊敬的用户，我们在2014年8月16日至9月16日推出玫瑰购买优惠活动，在此期间，每朵玫瑰单价仅为1元人民币。</p>  
            <p class="buyCon">目前，购买玫瑰的流程如下：</p>  
            <p class="buyCon">1、根据您要购买的玫瑰数量，将相应的金额转账到我们的支付宝账户1478773015@qq.com，并请在转账备注中写明您的脸呼注册邮箱和购买玫瑰数量。</p>
            <p class="buyCon">2、我们在收到您的转账后，客服人员会按照您实际发生的转账金额，将相应数量的玫瑰充入您的脸呼账户中。</p>
            <p class="buyCon">3、在购买玫瑰和使用脸呼过程中，如有任何疑问请联系我们的客服 QQ:1478773015，我们将竭诚为您服务。</p>
        </div>
    </ion-content>
</ion-view>
