<ion-view title="视频聊天">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios7-arrow-back" ng-click="back()">结束</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="chat">
            <div class="remote">
                <div id="status-info">正在建立连接<span>(请点击允许访问您的摄像设备<i ng-if="isPC" class="icon ion-arrow-up-c assertive"></i>&nbsp;&nbsp;)</span> ...</div>
                <div id="remote"></div>
            </div>
            <div class="local"><video id="local"></video></div>
        </div>
    </ion-content>
</ion-view>
