<ion-view title="用户昵称">
    <ion-nav-buttons side="right">
        <a class="button button-positive" ng-click="login()">登录</a>
    </ion-nav-buttons>
    <ion-content>
        <div class="detail">
            <div class="pic">
                <img src="images/0.jpg" alt="" />
            </div>
            <div class="list">
                <div class="item">在线状态: 在线</div>
                <div class="item">身价: 1朵玫瑰</div>
            </div>
            <div class="row">
                <div class="col col-50 col-offset-25">
                    <button class="button button-block button-positive icon-left ion-videocamera" ng-click="regist()">视频聊天</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
