<ion-view title="用户昵称">
    <ion-content>
        <div class="list">
            <div class="item item-image">
                <img style="height:45%;max-height:200px;width:auto" src="images/0.jpg" alt="" />
            </div>
            <div class="item">用户状态</div>
            <div class="item">身价</div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-33">
                <button class="button button-block button-positive" ng-click="regist()">视频聊天</button>
            </div>
        </div>
    </ion-content>
</ion-view>
