<ion-view title="编辑资料">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios7-arrow-back" ng-click="back()">返回</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="save()">完成</button>
    </ion-nav-buttons>
    <ion-content>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">昵称</span>
            <input type="text" placeholder="请输入您的昵称"/>
        </label>
        <label class="item item-input">
            <span class="input-label">电子邮箱</span>
            <input type="text" placeholder="请输入您的邮箱"/>
        </label>
    </div>
    </ion-content>
</ion-view>

