<ion-nav-bar>
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> 取消
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view title="登录">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="电子邮箱">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="密码">
            </label>
            <button class="button button-block button-positive">登录</button>
        </div>
    </ion-content>
</ion-view>

