<ion-view title="登录" class="login">
    <ion-nav-buttons ng-if="showBack" side="left"><button class="button button-clear icon ion-ios7-arrow-back" ng-click="back()">取消</button></ion-nav-buttons>
    <ion-content>
        <div class="list">
            <form name="loginForm">
                <label class="item item-input">
                    <input type="email" name="loginEmail" placeholder="邮箱" required ng-model="user.loginEmail"/>
                </label>
                <label class="item item-input">
                    <input type="password" name="loginPassword" placeholder="密码" required ng-model="user.loginPassword"/>
                </label>
            </form>
        </div>
        <div class="row">
            <div class="col col-33">
                <button class="button button-block button-positive" ng-click="login(loginForm,user)">登录</button>
            </div>
            <div class="col col-33 col-offset-33">
                <a class="button button-block button-positive" href="{{regist}}">注册</a>
            </div>
        </div>
    </ion-content>
</ion-view>

