<div class="modal" ng-controller="regist">
    <ion-header-bar class="bar bar-positive">
        <button class="button button-clear" ng-click="back()">取消</button>
        <h1 class="title">创建</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">电子信箱:</span>
                <input type="text" placeholder="电子邮箱">
            </label>
            <label class="item item-input">
                <span class="input-label">昵称:</span>
                <input type="text" placeholder="昵称">
            </label>
            <label class="item item-input">
                <span class="input-label">密码:</span>
                <input type="password" placeholder="密码">
            </label>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-33">
                <button class="button button-block button-positive">继续</button>
            </div>
        </div>
    </ion-content>
</div>

