<ion-view title="创建新用户" class="regist">
    <ion-nav-buttons ng-if="showBack" side="left"><button class="button button-clear icon ion-ios7-arrow-back" ng-click="back()">取消</button></ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <form name="registForm">
                <div class="item item-divider">基本信息</div>
                <label class="item item-input">
                    <span class="input-label">电子信箱:</span>
                    <input type="email" name="email" ng-model="user.email" placeholder="电子邮箱" required/>
                </label>
                <label class="item item-input">
                    <span class="input-label">昵称:</span>
                    <input type="text" name="name" placeholder="昵称" ng-model="user.name" required/>
                </label>
                <label class="item item-input">
                    <span class="input-label">密码:</span>
                    <input type="password" name="password" placeholder="密码" ng-model="user.password" required/>
                </label>
            </form>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-33">
                <button class="button button-block button-positive" ng-click="next(registForm,user)">下一步</button>
            </div>
        </div>
    </ion-content>
</ion-view>

