<ion-view title="修改密码">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="back()">返回</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="save()">保存</button>
    </ion-nav-buttons>
    <ion-content>
    <div class="list">
        <label class="item item-input">
            <input type="password" placeholder="当前密码">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="新密码">
        </label>
    </div>
    </ion-content>
</ion-view>

