<ion-view title="我的资料">
    <ion-content>
        <div class="myinfo list">
            <div class="item item-avatar">
                <img class="myimg" src="images/0.jpg"/>
                <h2 class="nickname">少女杀手</h2>
                <a class="item-note" href="#/tab/editing">编辑</a>
            </div>
            <div class="item">
                当前账户余额:10朵玫瑰 <a class="item-note" href="#/tab/account">充值</a>
            </div>
            <div class="item">
                修改密码 <a class="item-note" href="#/tab/resetpwd">编辑</a>
            </div>
        </div>
    </ion-content>
</ion-view>
