<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="交友" icon="ion-ios7-person" href="#/tab/home">
        <ion-nav-bar class="bar-positive"><ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button></ion-nav-bar>
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="记录" icon="ion-ios7-person" href="#/tab/history">
        <ion-nav-bar class="bar-positive"><ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button></ion-nav-bar>
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon="ion-ios7-person" href="#/tab/setting">
        <ion-nav-bar class="bar-positive"><ion-nav-back-button class="button-icon">返回</ion-nav-back-button></ion-nav-bar>
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>
