<ion-view title="设置个人图像" class="take">
    <ion-content>
        <div class="list card">
            <div class="item item-divider positive">请点击允许访问您的摄像头&nbsp;&nbsp;<i ng-if="isPC" class="icon ion-arrow-up-c assertive"></i></div>
            <div class="item video">
                <video id="face" autoplay></video>
            </div>
        </div>
        <div class="buttons">
            <div id="take">
                <a class="shoot" ng-click="taking()"></a>
            </div>
            <div id="choose" class="row hidden">
                <div class="col">
                    <a class="confirm" ng-click="choose()"></a>
                </div>
                <div class="col">
                    <a class="cancel" ng-click="reset()"></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
