form.invalid input.ng-invalid{background-color:lightgoldenrodyellow;}
.hidden{display:none}
img{vertical-align:middle}

.intro{height:80%;}
.intro_con{height:100%}

.blue{background:blue;}
.yellow{background:yellow;}
.pink{background:pink;}


/*Home在线列表*/
a.home-tip{display:block;font-size:16px;margin:10px auto;text-align:center;font-weight:bold;text-decoration:none;color:#999}
.ion-flex{
display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
-webkit-box-lines:multiple;-moz-box-lines:multiple;ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;
width:100%;
}
.ion-flex a{display:block;width:25%;border:solid 1px #fff;max-width:100px;height:130px;overflow:hidden;text-align:center;}
.ion-flex img{width:100px;}
.ion-circle{position:absolute;right:0;top:0;display:block;width:10px;height:10px;border-radius:5px;}

/*History*/
#history img{width:80px;height:auto;border-radius:0;max-height:130px;}

/*登录页*/
.login .row{width:80%;margin:0 auto;text-align:center;}

/*拍照前提醒页*/
.photos .step{width:90%;text-align:center;padding-top:20%;margin:0 auto;}
.photos .step p{margin-top:30px;font-size:17px;}

/*拍照页*/
.take{margin:0 auto;text-align:center;}
.take .tip{font-size:16px;font-weight:bold;margin:10px auto;color:#999}
.take .video{background:#333;}
.take video{height:260px;width:auto;}
.take .buttons{text-align:center;}
.take .shoot{background:url(../images/icons/icons.png) left top;height:73px;width:75px;display:block;margin:0 auto;}
.take .confirm{background:url(../images/icons/icons.png) left -74px;height:33px;width:45px;display:block;margin:0 auto;}
.take .cancel{background:url(../images/icons/icons.png) left -106px;height:30px;width:40px;display:block;margin:0 auto;}

.detail{}
.detail .price,.detail .status{color:green;}
.detail .pic{text-align:center;}
.detail .item-image img{width:200px;}

.chat{text-align:center;width:100%;height:100%;background:#666;color:#fff}
.local{position:absolute;right:0;bottom:0;z-index:2000;background:#666;}
#local{height:130px;background:#666;border:solid 1px #666}
#remote{width:100%;height:100%;text-align:center;}
#remote video{height:100%;}
@media screen and (min-width:600px) {
    #local{height:260px;background:#666;border:solid 1px #666}
}
#status-info{position:absolute;top:35%;width:100%;}
.request img{width:100%;border:solid 1px #666}

//Seting页面
.myinfo{}
.myinfo img{vertical-align:middle}
.myinfo .img img{width:80px;border:solid 1px #333;vertical-align:middle}
.myinfo strong{margin-left:10px;}

.buyinfo{margin:20px 10px;font-size:16px;}
.buyinfo .buyCon{text-indent:32px;}
.buy .buy-input span{padding-left:8px;}
.buy img{vertical-align:middle}

.popForm{position:absolute;width:50%;right:0;bottom:5px;z-index:2000}
.popForm .button{width:100%;background:none;border:0;padding:5px;}


.bar.bar-positive{background-color:#3c579d;}
.tabs-striped.tabs-positive .tab-item.tab-item-active, .tabs-striped.tabs-positive .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated { color: #3c579d; border-color: #3c579d; }
.button.button-positive{background-color:#6178af;border-color:#6178af;border-radius:4px;}

.font-small{font-size:14px;}
